.menulogin {
    width: 340px;
    margin: 50px auto;

}
.menulogin {
    margin-bottom: 15px;
    padding: 30px;

}
.menulogin  {
    margin: 0 0 15px;
    background-image: ;
    
}

.menulogin {
    min-height: 38px;
    border-radius: 2px;
}
.menulogin {
    font-size: 15px;
    font-weight: bold;
padding-top: 350px;}

.user {
    padding-left: 250px;
}